<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Pattaya" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script type = "text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/mystyle.css">
	<link rel="stylesheet" type="text/css" href="css/animate.css">
	<script src="js/wow.min.js"></script>
	<script src="js/wow.js"></script>
<!-- <script src="js/particles.js"></script> -->	
	<script src="js/particles.min.js"></script>
	<title>TasteBuds</title>
	</head>
	<body>
	<div id="particle-js"></div>
	<div id="login-background">

		<div class="container">
		
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12">
				{{{ body }}}			
				</div>
			</div>
		</div>
	</body>
</html>
