

<p id="googleMap"></p>
<h2 id="google-title">Click on the marker to save an event.</h2>






   <script src="./js/script.js"></script>
  <!--  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrORHr-W5Noub5SRHda1QL3_eSGfwsd5M&callback=initMap"></script> -->
   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrORHr-W5Noub5SRHda1QL3_eSGfwsd5M"></script>
   

