/*  #form-container{
    margin: 20%;
    margin-left: 30%;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 40px;
    width: 500px;
    text-align: center;
  }
    #form-container-create{
    margin: 20%;
    margin-left: 30%;
    margin-top: 4%;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 40px;
    width: 500px;
    text-align: center;
  }
      #form-container-success{
    margin: 20%;
    margin-left: 30%;
    margin-top: 4%;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 40px;
    width: 500px;
    text-align: center;
  }
*/
    #googleMap {
      height: 450px;
      width: 99%;
      overflow: auto;
      margin-top:25px;
    }

    #google-title{
      text-align:center;
      color:white;
      font-family: 'Pattaya', sans-serif;

    }
